:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --scn-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --scn-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-cl: #2196f3;

  /* Background colors */
  --main-bg-cl: #2f303a;
  --light-bg-cl: #f5f5f5;

  /* Others */
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  background-color: var(--light-bg-cl);
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

header,
section, 
footer {
  outline: 1px solid red;
}

.pecul-subtitle,
.team-subtitle,
.prtf-tex {
  color: var(--scn-txt-cl);
}

/* Как вариант */
/* p {
   color: var(--scn-txt-cl); 
} */

.hero,
.footer {
  background-color: var(--main-bg-cl);
}

.link {
  text-decoration: none;
  color: var(--main-txt-cl);
}

.addr-link,
.hero-title {
  color: var(--light-txt-cl);
}

.prtf-btn,
.hero-btn {
  cursor: pointer;
}

.list {
  list-style: none;
}

/* Header */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.logo {
  /* font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26); */

  font-family: var(--scn-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
} 

.accent {
  color: var(--accent-cl);
}

.light {
  color: #ffffff;
}

.dark {
  color: #000000;
}

.header {
  background-color: #ffffff;
}

.nav-link:hover,
.nav-link:focus,
.cnt-link:hover,
.cnt-link:focus {
  color: var(--accent-cl);
}

.current:visited {
  color: var(--accent-cl);
}

.nav-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.cnt-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  color: var(--scn-txt-cl);
  letter-spacing: 0.02em;
}

/* Hero */

.hero-btn {
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Peculiarities */

.pecul-title {
  font-size: 14px;
  line-height: calc(16 / 14);
}

/* About */

.about-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team-img,
.img-link {
  background-color: #ffffff;
}

.team-main-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-subtitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

/* Portfolio */

.prtf-btn,
.active {
  background-color: #f5f4fa;
}

.prtf-btn:hover {
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
}

.active {
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  cursor: pointer;
}

.prtf-btn,
.active {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  font-family: inherit;
}

.prtf-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.prtf-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* Footer */

.addr-link {
  font-style: normal;
}

.tm {
  color: rgba(255, 255, 255, 0.6);
}

.tm:hover,
.tm:focus {
  color: var(--accent-cl);
}
